<div class="closeDiv">
    <mat-icon svgIcon="close" class="close-icon" aria-hidden="false" (click)="closeWindow()"></mat-icon>
</div>
<section>
    <h2>Introduce your email</h2>

    <form class="form emailForm" [formGroup]="loginFormControl">
        <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="loginFormControl.hasError('email') && !loginFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
        </mat-form-field>

    </form>

    </section>
    <section class="sendEmail" (click)="send()">
    <button class="btn corner btnSend" >
        Send
    </button>
</section>
