<article class="intro">
  <section class="text">
      <h1>Apps Recommender System</h1>
      <p>Apps Recommender System is a web search engine for cancer survivors.</p>
      <p>Search for a healthy app from Google Play or App Store.</p>
      <p>Eat better and do exercise!</p>
      <div class="slider-wrapper">
        <p>It is time to </p>
        <div class="slider">
          <p class="slider-text1">Live</p>
          <p class="slider-text2">Be happy</p>
          <p class="slider-text3">Laugh</p>
        </div>
    </div>
  </section>
</article>
<login *ngIf="!identity"></login>
<register *ngIf="!identity"></register>